node-red/flows.json
[
    {
        "id": "25496ff795f33417",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "344499584571a0ed",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b66b3b9e65080266",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "c47df58c9700d702",
        "type": "mqtt-broker",
        "name": "mos",
        "broker": "192.168.10.104",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09a4da490bb9cdd6",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "87a93d43aaac85e7",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "5d1c5e22bf3e332a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "87a93d43aaac85e7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f22ff96264479ed8",
        "type": "mqtt-broker",
        "name": "nom",
        "broker": "192.168.0.19",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8e7d86e88ee54c5e",
        "type": "mqtt-broker",
        "name": "yuchi-ubuntu-server",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "14f0251a69692d75",
        "type": "debug",
        "z": "25496ff795f33417",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "6d992d54fb3aadfc",
        "type": "mqtt in",
        "z": "25496ff795f33417",
        "name": "",
        "topic": "sensor/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c47df58c9700d702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "14f0251a69692d75",
                "3c738cfbadeb8c49"
            ]
        ]
    },
    {
        "id": "ebe0155b8fc6b29a",
        "type": "mqtt in",
        "z": "25496ff795f33417",
        "name": "",
        "topic": "sensor/control",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c47df58c9700d702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "c7d534091ac103e9",
                "6ac72a5cfd90b84d"
            ]
        ]
    },
    {
        "id": "c7d534091ac103e9",
        "type": "debug",
        "z": "25496ff795f33417",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c738cfbadeb8c49",
        "type": "ui_chart",
        "z": "25496ff795f33417",
        "name": "",
        "group": "5d1c5e22bf3e332a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "aae8a0a218dfac12",
        "type": "ui_text",
        "z": "25496ff795f33417",
        "group": "5d1c5e22bf3e332a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Command",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "6ac72a5cfd90b84d",
        "type": "json",
        "z": "25496ff795f33417",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "aae8a0a218dfac12"
            ]
        ]
    },
    {
        "id": "19710fc8d505f383",
        "type": "mqtt in",
        "z": "25496ff795f33417",
        "name": "",
        "topic": "mtconnect/demo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c47df58c9700d702",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "5540e18fdffcfede"
            ]
        ]
    },
    {
        "id": "5540e18fdffcfede",
        "type": "debug",
        "z": "25496ff795f33417",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "28b5056b2ea2b762",
        "type": "http request",
        "z": "25496ff795f33417",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.122.1:8000/get_model_id/from/program_name/{{{model_id}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "msg",
                "keyValue": "req.params.model_id",
                "valueType": "msg",
                "valueValue": "payload.model_id"
            }
        ],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "a7f642b0ed5f98d2"
            ]
        ]
    },
    {
        "id": "a7f642b0ed5f98d2",
        "type": "debug",
        "z": "25496ff795f33417",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "5be28623d3270603",
        "type": "inject",
        "z": "25496ff795f33417",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "22bbe12e58927ac2"
            ]
        ]
    },
    {
        "id": "22bbe12e58927ac2",
        "type": "change",
        "z": "25496ff795f33417",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "model_id",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 580,
        "wires": [
            [
                "28b5056b2ea2b762"
            ]
        ]
    },
    {
        "id": "3d5164f4898a5899",
        "type": "http request",
        "z": "25496ff795f33417",
        "name": "post test",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.122.1:8000/start/measurement/with/program_name",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 500,
        "y": 740,
        "wires": [
            [
                "717f6e78c7680f89"
            ]
        ]
    },
    {
        "id": "717f6e78c7680f89",
        "type": "debug",
        "z": "25496ff795f33417",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "e4b18df3986360dd",
        "type": "inject",
        "z": "25496ff795f33417",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "e532f3297773b9d8"
            ]
        ]
    },
    {
        "id": "e532f3297773b9d8",
        "type": "change",
        "z": "25496ff795f33417",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{  \"mtconnect_interval\": 0,   \"interval\": 0,   \"threshold\": 0,   \"program_name\": \"string\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 740,
        "wires": [
            [
                "3d5164f4898a5899"
            ]
        ]
    },
    {
        "id": "a0450bbf0d4d00ca",
        "type": "mqtt in",
        "z": "344499584571a0ed",
        "name": "MTConnect data",
        "topic": "MTConnect/Current/535E85A7_-1CF1-4D1C-9D5C-D386C0CFB37A",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f22ff96264479ed8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f10261ba7b361e58",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Monitor MTConnect MQTT",
        "info": "",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "6b4720c3944ed3cd",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "Check program",
        "property": "payload.program",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "UNAVAILABLE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MDI.PRG",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "current_program",
                "vt": "flow"
            },
            {
                "t": "neq",
                "v": "current_program",
                "vt": "flow"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 560,
        "y": 140,
        "wires": [
            [
                "0ec4047726b8501d"
            ],
            [],
            [
                "6f37e4adef0a7443"
            ],
            [
                "05054439d9781c91"
            ]
        ]
    },
    {
        "id": "68acacd425eab798",
        "type": "http request",
        "z": "344499584571a0ed",
        "name": "Run",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.122.1:8000",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "msg",
                "keyValue": "three_d_mode_id",
                "valueType": "other",
                "valueValue": "1"
            }
        ],
        "x": 1270,
        "y": 360,
        "wires": [
            [
                "fa55f048f3b04d55"
            ]
        ]
    },
    {
        "id": "05054439d9781c91",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "Update states",
        "rules": [
            {
                "t": "set",
                "p": "current_program",
                "pt": "flow",
                "to": "payload.program",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "current_execution",
                "pt": "flow",
                "to": "payload.execution",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "model_id",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "00da988d611bc913"
            ]
        ]
    },
    {
        "id": "cbd32ee5e1232538",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "New program found",
        "info": "",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "00da988d611bc913",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "Check execution",
        "property": "payload.execution",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ACTIVE",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "68acacd425eab798"
            ],
            [
                "0a479a79756d8ee2"
            ]
        ]
    },
    {
        "id": "8942f2a00f2bd2e4",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Same program",
        "info": "",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "15267eecaffca7c4",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Execution Changed",
        "info": "",
        "x": 1330,
        "y": 20,
        "wires": []
    },
    {
        "id": "21f4133c1674a7d0",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "Update states",
        "rules": [
            {
                "t": "set",
                "p": "current_execution",
                "pt": "flow",
                "to": "payload.execution",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 60,
        "wires": [
            [
                "1f44dfd62c42f62b"
            ]
        ]
    },
    {
        "id": "6f37e4adef0a7443",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "Check model_id",
        "property": "model_id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 140,
        "wires": [
            [],
            [
                "d5303a748a32e299"
            ]
        ]
    },
    {
        "id": "6b2d6dc687cb016d",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Check model and start",
        "info": "",
        "x": 1300,
        "y": 320,
        "wires": []
    },
    {
        "id": "18cec5200a1d0a88",
        "type": "http request",
        "z": "344499584571a0ed",
        "name": "Get model_id",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.122.1:8000/get_model_id/from/program_name/{{{program}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1490,
        "y": 440,
        "wires": [
            [
                "3d2592d4652c83ed"
            ]
        ]
    },
    {
        "id": "6e6aee8c5e805a3e",
        "type": "http request",
        "z": "344499584571a0ed",
        "name": "Run with model_id",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://192.168.122.1:8000/start/measurement",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1870,
        "y": 60,
        "wires": [
            [
                "5ecc6a98be019750"
            ]
        ]
    },
    {
        "id": "0ec4047726b8501d",
        "type": "debug",
        "z": "344499584571a0ed",
        "name": "unavailable",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "d6cad028ae9e81b6",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Test",
        "info": "",
        "x": 70,
        "y": 480,
        "wires": []
    },
    {
        "id": "ae560550e9cba035",
        "type": "file in",
        "z": "344499584571a0ed",
        "name": "Read mqtt log",
        "filename": "/data/latest.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "43d01b4614ff42b9",
        "type": "json",
        "z": "344499584571a0ed",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 580,
        "wires": [
            [
                "c6270391e0bd5fe1"
            ]
        ]
    },
    {
        "id": "dbb1e5b8da5ccab0",
        "type": "inject",
        "z": "344499584571a0ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "b419185690dd35af"
            ]
        ]
    },
    {
        "id": "defcd05dbf9a2e1d",
        "type": "split",
        "z": "344499584571a0ed",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "fa7dfaf3282c67fc"
            ]
        ]
    },
    {
        "id": "c6270391e0bd5fe1",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].messages",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "defcd05dbf9a2e1d"
            ]
        ]
    },
    {
        "id": "1259d762c632fd04",
        "type": "delay",
        "z": "344499584571a0ed",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "6e6aced3e4ebc03f"
            ]
        ]
    },
    {
        "id": "fa7dfaf3282c67fc",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "Filter with topic",
        "property": "payload.topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "MTConnect/Current/535E85A7_-1CF1-4D1C-9D5C-D386C0CFB37A",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "1259d762c632fd04"
            ]
        ]
    },
    {
        "id": "6e6aced3e4ebc03f",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 500,
        "wires": [
            [
                "05d60b1184327e3e"
            ]
        ]
    },
    {
        "id": "05d60b1184327e3e",
        "type": "json",
        "z": "344499584571a0ed",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "649eed872bca7e6f"
            ]
        ]
    },
    {
        "id": "fa55f048f3b04d55",
        "type": "debug",
        "z": "344499584571a0ed",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 360,
        "wires": []
    },
    {
        "id": "649eed872bca7e6f",
        "type": "function",
        "z": "344499584571a0ed",
        "name": "Get execution & program",
        "func": "const executionArray = msg.payload.MTConnectStreams.Streams.DeviceStream[0].ComponentStream[1].Events.Execution;\nconst programArray = msg.payload.MTConnectStreams.Streams.DeviceStream[0].ComponentStream[1].Events.Program;\nfor (const execution of executionArray) {\n    if (execution['dataItemId'] === 'execution1') {\n        msg.payload.execution = execution['value']\n    }\n}\n\nfor (const program of programArray) {\n    if (program['dataItemId'] === 'program1') {\n        msg.payload.program = program['value']\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "6b4720c3944ed3cd"
            ]
        ]
    },
    {
        "id": "ab9544469afad10a",
        "type": "debug",
        "z": "344499584571a0ed",
        "name": "get model response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 440,
        "wires": []
    },
    {
        "id": "3d2592d4652c83ed",
        "type": "json",
        "z": "344499584571a0ed",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1650,
        "y": 440,
        "wires": [
            [
                "ab9544469afad10a",
                "520584bc39f1c4f1"
            ]
        ]
    },
    {
        "id": "0a479a79756d8ee2",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "program",
                "pt": "msg",
                "to": "payload.program",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 440,
        "wires": [
            [
                "18cec5200a1d0a88"
            ]
        ]
    },
    {
        "id": "520584bc39f1c4f1",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "",
        "property": "payload.model_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1830,
        "y": 480,
        "wires": [
            [
                "d5d0b9f9304d11b1"
            ]
        ]
    },
    {
        "id": "d5d0b9f9304d11b1",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "Update flow.model_id",
        "rules": [
            {
                "t": "set",
                "p": "model_id",
                "pt": "flow",
                "to": "payload.model_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 480,
        "wires": [
            [
                "ab12c6bf0f36e4b0"
            ]
        ]
    },
    {
        "id": "b419185690dd35af",
        "type": "file in",
        "z": "344499584571a0ed",
        "name": "Read mqtt log",
        "filename": "/data/latest_filtered.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "43d01b4614ff42b9"
            ]
        ]
    },
    {
        "id": "ab12c6bf0f36e4b0",
        "type": "function",
        "z": "344499584571a0ed",
        "name": "function 2",
        "func": "node.warn('update model id')\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecc6a98be019750",
        "type": "debug",
        "z": "344499584571a0ed",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 60,
        "wires": []
    },
    {
        "id": "8aec902fd2135c36",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "post payload",
        "rules": [
            {
                "t": "set",
                "p": "payload.three_d_model_id",
                "pt": "msg",
                "to": "model_id",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mtconnect_interval",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.interval",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.threshold",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 60,
        "wires": [
            [
                "6e6aee8c5e805a3e"
            ]
        ]
    },
    {
        "id": "1f44dfd62c42f62b",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "",
        "property": "payload.execution",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ACTIVE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 60,
        "wires": [
            [
                "8aec902fd2135c36"
            ]
        ]
    },
    {
        "id": "d5303a748a32e299",
        "type": "rbe",
        "z": "344499584571a0ed",
        "name": "Block if execution is the same",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload.execution",
        "topi": "topic",
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "21f4133c1674a7d0",
                "7b26b062306de94e"
            ]
        ]
    },
    {
        "id": "7b26b062306de94e",
        "type": "switch",
        "z": "344499584571a0ed",
        "name": "",
        "property": "current_execution",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "ACTIVE",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1330,
        "y": 160,
        "wires": [
            [
                "a41ab951299cd47d",
                "170208632310229a",
                "04f5d350e9f0a665"
            ]
        ]
    },
    {
        "id": "c792dbe68c6f3350",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Start measurement",
        "info": "",
        "x": 1570,
        "y": 20,
        "wires": []
    },
    {
        "id": "4f4f4a36144c460e",
        "type": "comment",
        "z": "344499584571a0ed",
        "name": "Stop measurement",
        "info": "",
        "x": 1570,
        "y": 120,
        "wires": []
    },
    {
        "id": "a41ab951299cd47d",
        "type": "function",
        "z": "344499584571a0ed",
        "name": "function 3",
        "func": "node.warn(\"stop measuring\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "45076f0c77a67474",
        "type": "mqtt out",
        "z": "344499584571a0ed",
        "name": "",
        "topic": "process/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e7d86e88ee54c5e",
        "x": 1720,
        "y": 220,
        "wires": []
    },
    {
        "id": "170208632310229a",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 220,
        "wires": [
            [
                "45076f0c77a67474"
            ]
        ]
    },
    {
        "id": "04f5d350e9f0a665",
        "type": "change",
        "z": "344499584571a0ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"command\": \"deepSleep\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 280,
        "wires": [
            [
                "3179ba1fabb7d2cb"
            ]
        ]
    },
    {
        "id": "3179ba1fabb7d2cb",
        "type": "mqtt out",
        "z": "344499584571a0ed",
        "name": "",
        "topic": "sensor/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e7d86e88ee54c5e",
        "x": 1720,
        "y": 280,
        "wires": []
    }
]